#pls-title-wrap {
    margin: 30px 0 10px;
}

#pls-title-sorted-links,
#pls-title-info-tooltip {
    display: inline;
    vertical-align: middle;
    position: relative;
}

#pls-title-info-tooltip:before
{
    content: '?';
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 1.3em;
    height: 1.3em;
    font-size: .8em;
    line-height: 1.1em;
    border-radius: .8em;
    margin-left: 1em;
    padding: .1em;
    color: #bbbbbb;
    background: white;
    border: 1px solid #bbbbbb;
    text-decoration: none;
}

#pls-title-info-tooltip:hover:before
{
    color: white;
    background: #bbbbbb;
    border-color: white;
    text-decoration: none;

    /* Necessary for tooltip */
    visibility: visible;
}


/* Tooltip text */
#pls-title-info-tooltip #pls-title-info-tooltip-text {
    visibility: hidden;
    margin-left: .5em;
    height: 1.5em;
    width: 13.5em;
    line-height: 1em;
    background-color: #bbbbbb;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Tooltip arrow */
#pls-title-info-tooltip #pls-title-info-tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #bbbbbb transparent transparent;
}


/* Show tooltip text when hovering over container */
#pls-title-info-tooltip:hover #pls-title-info-tooltip-text {
    visibility: visible;
}