body {
    background-color: #F2F4F5;
}

.button {
    border: 1px solid rgb(207, 210, 211);
    border-radius: 4px;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 4em;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.button-selected {
    border: 1px solid #910101 !important;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 4em;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #af0806 !important;
    color: white;
}

.opts {
    display: block;
    width: max-content;
    padding: 5px 10px;
}

.title {
    display: block;
    text-align: center;
    color: #555555;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.sect-title {
    overflow: hidden;
    text-align: center;
    color: #8C969D;
    font-size: 1em;
    font-weight: 400;
    display: block;
    margin: 0 2em;
}

.sect-title:before,
.sect-title:after {
    background-color: #c8d0d6;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.sect-title:before {
    right: 0.5em;
    margin-left: -50%;
}
.sect-title:after {
    left: 0.5em;
    margin-right: -50%;
}

.center-div {
    text-align: center;
}

.onoffswitch {
    margin: 20px;
    position: relative;
    display: inline-block;
    width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 30px; padding: 0; line-height: 30px;
    border: 2px solid #999999; border-radius: 4px;
    background-color: #EEEEEE;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 58px;
    border: 2px solid #999999; border-radius: 4px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #af0806;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #910101;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}